@font-face {
  font-family: Norse-Bold;
  src: url("fonts/Norse-Bold.otf")
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: none;
  font-family: Helvetica, sans-serif;
}

html {
  font-size: 16px;
}

html,
body,
header,
main {
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
}

header {
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("images/halie-west-25xggax4bSA-unsplash.jpg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
}

div.header {
  width: 100%;
  padding: 10px;
  margin-top: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

img.logo {
  height: auto;
  width: 100px;
}

header h1 {
  font-family: "Norse-Bold";
  font-size: 6rem;
  font-weight: normal;
}

header > p {
  margin: 1rem;
  margin-top: auto;
  font-size: 0.9rem;
}

header a {
  color: #ffffff;
}

main {
  flex: 3;
  display: flex;
  flex-direction: column;
}

section {
  flex: 1;
  min-height: auto;
  padding: 35px 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #f9fafb;
}

 section:first-child {
  justify-content: flex-end;
}

section > h2 {
  margin-bottom: 1.25rem;
}

form {
  flex: 0 0 300px;
  z-index: 1;
  padding: 20px 50px;
  color: #2a333f;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
}

form > div {
  display: flex;
  width: 80%;
  gap: 50px;
}

form ul {
  flex: 1;
  list-style: none;
}

form li {
  margin-top: 1.25rem;
}

form label {
  font-size: 0.75rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

input {
  appearance: none;
  width: 100%;
  padding: 0.4rem;
  border: 1px solid #e5e7eb;
  border-radius: 5px;
}

section > button {
  padding: 1rem 3rem;
  border: none;
  border-radius: 10px;
  background-color: #596d4b;
  color: #ffffff;
  font-size: 1.125rem;
  font-weight: bold;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

section > p {
  margin-top: 2rem;
  font-size: 1.25rem;
}

section > p > a {
  color: #596d4b;
  font-weight: bold;
  text-decoration: none;
}