@font-face {
  font-family: Norse-Bold;
  src: url("fonts/Norse-Bold.otf")
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

html {
  font-size: 16px;
}

html,
body,
header,
main {
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
}

header {
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("images/halie-west-25xggax4bSA-unsplash.jpg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
}

div.header {
  width: 100%;
  padding: 10px;
  margin-top: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

img.logo {
  height: auto;
  width: 100px;
}

header h1 {
  font-family: "Norse-Bold";
  font-size: 6em;
  font-weight: normal;
}

header > p {
  margin: 1em;
  margin-top: auto;
  font-size: 0.9em;
}

header a {
  color: #ffffff;
}

main {
  flex: 3;
  display: flex;
  flex-direction: column;
}

section {
  flex: 1;
  min-height: 200px;
  padding: 35px 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #f9fafb;
}

 section:first-child {
  justify-content: flex-end;
}

section > h2 {
  margin-bottom: 1.2em;
}

form {
  flex: 0 0 300px;
}

section > button {
  padding: .75em 3em;
  border: none;
  border-radius: 10px;
  background-color: #596d4b;
  color: #ffffff;
  font-size: 1.2em;
  font-weight: bold;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

section > p {
  margin-top: 2em;
  font-size: 1.2em;
}

section > p > a {
  color: #596d4b;
  font-weight: bold;
  text-decoration: none;
}